// ==========================================================================
// Main Slider + Profile
// ==========================================================================

.section-main-intro{
	position:relative;

	//Offset to adjust for nav background
	top:-115px;
	
	//Place below nav
	z-index:$content;

	//Padding to push down name under profile image
	margin-bottom:60px;
	
	//Container Height when no content is created
	height: 815px;

	.main__slider{
		
		height: 100%;
		width: 100%;
		
		background-repeat: no-repeat;
		background-position: center center;
		background: url(../images/bird.jpg) 50% 50%;

		background-size: cover; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	}
}

// ==========================================================================
// Profile
// ========================================================================== 
.author-avatar{
	position:absolute;
	top:660px;
	left:50%;
	margin-left:-140px;
}

.bio-header{
	text-align: center;
	padding-bottom: em(72px);

	h2{
		color:$secondary-color;
		font-size: em(32px);
	}

	h3{
		font-family: $font-family--secondary;
		color:palette(grey);
		font-size: em(23px);
		font-weight: $font-weight--medium;
	}

	.contacts{
		@include e(item){
			display:inline-block;
			font-size: em(18px);
			font-family: $font-family--secondary;
			font-weight: $font-weight--medium;
			font-style: italic;
			padding:0 1.5em 0 1em;
			color:palette(grey, light);
			padding-top: em(11px);

			a{
				color:palette(grey, light);
			}
		}
	}
}


